@model Database

@{
    ViewData["Title"] = "Database";
}

@* <p>Sono stati registrati @Model.Utenti.Count() utenti... </p> *@

<table class="table">
    <thead>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Email</th>
        <th>Citta</th>
    </thead>
    @{ 
        foreach(var item in @Model.Utenti) {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Cognome</td>
                <td>@item.EMail</td>
                <td>@item.Citta</td>
            </tr>
        }
    }
</table>