@model Utente
@{
    ViewData["Title"] = "Prenotato";
}

<h2>Grazie @Model.Nome</h2>
@* <p>per esserti registrato</p>
<p>Sono stati registrati @Model.Utenti.Count() utenti... </p>

<table class="table">
    <thead>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Email</th>
        <th>Citta</th>
    </thead>
    @{ 
        foreach(var item in @Model.Utenti) {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Cognome</td>
                <td>@item.EMail</td>
                <td>@item.Citta</td>
            </tr>
        }
    }

</table> *@